.container{
    align-items: center;
    margin-left: auto;
    margin-right: auto  ;
}

.main-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.check-login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.formulario-login{
    width: 750px;
    height: auto;
}